:root{
    --colorOne: #05b1b1;
    --colorTwo: #52339a;
}
/* Colors */
.colorOne{
    color: var(--colorOne);
}
.colorTwo{
    color: var(--colorTwo);
}
.bgOne{
    background-color: var(--colorOne);
}
.bgTwo{
    background-color: var(--colorTwo);
}
/* Colors */

header, section{
    padding: 100px 0;
}
header{
    padding: 200px;
}
header, footer{
    background: url(../img/pattern.png), var(--colorOne);
    background: url(../img/pattern.png), linear-gradient(to right,  #05b1b1 0%,#52339a 100%);
    background-size: contain;
}
.btn_play{
    background-color: var(--colorOne);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 30px auto;
    transition: all .2s ease;
}
.btn_play:hover{
    background-color: var(--colorTwo);
}
.btn_triangle{
    margin-right: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent var(--bs-white);
}
.btn-itd{
    display: block;
    max-width: 200px;
    margin: 0 auto;
    padding: 0 30px;
    background-color: var(--colorTwo);
    color: var(--bs-white);
}
.btn-itd:hover{
    background-color: var(--colorOne);
    color: var(--bs-white);
}
.embed-container
{ position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}
/* about start */
.about{
    background-color: #eee;
}
.about i{
    font-size: 26px;
    color: var(--colorTwo);
}
.itd_circle{
    width: 70px;
    height: 70px;
    margin: 0 auto 15px;
    border: 3px solid var(--colorTwo);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.line{
    width: 100px;
    height: 3px;
    background-color: var(--colorOne);
    margin: 15px auto 30px;
}
/* about end */
/* for who start */
.forWho h5{
    padding: 50px;
    border: 3px solid var(--colorOne);
}
/* for who end */
/* shedule start */
.shedule{
    background-color: #eee;
}
.accordion-button:not(.collapsed) {
    color: var(--bs-black);
    background-color: var(--bs-white);
}
/* shedule end */
.process h5{
    padding: 30px;
    border: 3px solid var(--colorOne);
}
.autor{
    background-color: #eee;
    padding-bottom: 0;
}
.itd_img{
    max-width: 260px;
}
footer{
    padding: 30px 0;
}
footer .btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}